
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/assets/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/assets/theme-mauve.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/assets/custom.css" rel="stylesheet" type="text/css" media="all"/>
    	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
      {% seo %}
    </head>
    <body>


		<div class="nav-container">



			<nav class="nav nav-1 transparent light">
				<a href="{{ site.baseurl | prepend: site.url}}" class="logo">
					<span>{{ site.title }}</span>
				</a>
				<ul class="menu">
          {% for item in page.blocks %}
					<li><a href="#{{ item[0]}}" class="inner-link" target="default">{{ item[0]}}</a></li>
          {% endfor %}
				</ul>
				<div class="mobile-toggle">
					<div class="line-1"></div>
					<div class="line-2"></div>
					<div class="line-3"></div>
				</div>
			</nav>

		</div>

		<div class="main-container">

			<a id="home" class="in-page-link"></a>

			<section class="header header-4 fullscreen burns-effect overlay">
				<div class="image-slider">
					<ul class="slides">

            {% for img in page.images %}
            <li>
							<div class="background-image-holder">
								<img alt="Background image" class="background-image" src="{{ img }}">
							</div>

							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<h1>{{ page.title }}</h1>
										<h6>{{ page.description }}</h6>
									</div>
								</div>
							</div>
						</li>
            {% endfor %}

					</ul>
				</div>
			</section>

      {% for item in page.blocks limit:1 %}

			<a id="{{ item[0]}}" class="in-page-link"></a>

			<section class="story story-3">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>{{ item[1][0] }}</h1>
							<h6>{{ item[1][1]}}</h6>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-justify">
							<p>
                {{ item[1][2] }}
							</p>
							<a href="{{ page.cta}}" class="btn inner-link" target="default">Click here</a>
						</div>
					</div>
				</div>
			</section>

      {% endfor %}

			<section class="gallery gallery-2 overlay">
        <div class="background-image-holder parallax">
					<img alt="Background image" class="background-image" src="{{ page.images[1] }}">
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<a href="#">
								<h1>{{ site.title }}</h1>
								<h6>{{ site.description }}</h6>
							</a>
						</div>
					</div>
				</div>
			</section>

			<a id="wedding" class="in-page-link"></a>

			<section class="details details-5">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<img alt="Couple" src="{{ page.images[0]}}">
							<img alt="Couple" src="{{ page.images[1]}}">
						</div>
					</div>


				</div>
			</section>

      {% for item in page.blocks limit:1 offset:1 %}

			<a id="{{ item[0]}}" class="in-page-link"></a>

			<section class="accom accom-1 overlay">
        <div class="background-image-holder parallax">
					<img alt="Background image" class="background-image" src="{{ page.images[2] }}">
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h6>{{ item[1][0] }}</h6>
							<h1>{{ item[1][1]}}</h1>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center">
							<p>
                {{ item[1][2] }}
							</p>
							<a href="{{ page.cta}}" class="btn inner-link" target="default">Click here</a>
						</div>
					</div>
				</div>
			</section>

      {% endfor %}

      {% for item in page.blocks offset:2 %}

			<a id="{{ item[0]}}" class="in-page-link"></a>

			<section class="story story-3">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>{{ item[1][0] }}</h1>
							<h6>{{ item[1][1]}}</h6>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-justify">
							<p>
                {{ item[1][2] }}
							</p>
						</div>
					</div>
				</div>
			</section>

      {% endfor %}

      <section class="story story-3">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>More information</h1>
							<h6>{{ site.description }}</h6>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center">
							<p>
                <a href="{{ page.cta}}" class="btn inner-link" target="default">Click here</a>
							</p>
						</div>
					</div>
				</div>
			</section>



			<footer class="footer footer-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h6>{{ site.time | date:"%Y"}} - {{ site.title }}</h6>
						</div>
					</div>
				</div>
			</footer>
		</div>


        <script src="/assets/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="/assets/smooth-scroll.min.js"></script>
        <script src="/assets/placeholders.min.js"></script>
        <script src="/assets/flexslider.min.js"></script>
        <script src="/assets/spectragram.min.js"></script>
        <script src="/assets/scripts.js"></script>
        <script src="/assets/bootstrap.min.js"></script>
    </body>
</html>
